{% extends "layout_home.html" %}

{% block title %} 
    Home
{% endblock %} 

{% block main %} 
<div class="flex flex-col h-full w-full place-content-center space-y-4">
    <div class="text-4xl tracking-wider font-bold text-center p-4">{{ username }}</div>
    <div class="flex flex-row align-self-center p-3 rounded-3xl border-2 border-gray-300">
        <div class="flex flex-auto flex-col p-5 w-full place-items-center align-self-center">
            <div class="text-lg p-1">Books</div>
            <div class="p-1">{{ total_books }}</div>
        </div>
        <div class="flex flex-auto flex-col w-full p-5 place-items-center align-self-center">
            <div class="text-lg p-1">Pages</div>
            <div class="p-1">{{ total_pages }}</div>
        </div>     
    </div>
</div>
{% endblock %} 